body{
    background-color: rgb(35, 35, 35);
}
.Display-Box {
    background-color: rgba(255,255,255,0);
    border: 5px solid white;
    border-radius: 25px;
    margin: 40px;
    height: 450px;
    width: 964px;
    margin-left: 17.3%;
    box-shadow: 0 0 10px rgba(0,0,0,1);

}
.Overall {
    display: flex;
    justify-content: center;
}
.scroll {
    border: none;
    margin-left: 70px;
    margin-right: 70px;
    font-weight: 1000;
    font-size: 70px;
    width: 40px;
    cursor: pointer;
    background: none;
    text-align: center;
    color: white;
}

.Warrior-Box,
.Archer-Box,
.Asassin-Box,
.Mage-Box,
.Berserker-Box {
    border-radius: 10px;
    border: 3px solid rgba(255,255,255,0);
    height: 210px;
    width: 180px;
    display: inline-flex;
    cursor: pointer;
    margin: 5px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    transition: background-color 0.5s,
        border 0.1s,
        width 0.2s,
        height 0.2s;
}

.T1,
.T2,
.T3,
.T4,
.T5 {
    margin-top: 87px;
    font-family: arial;
    font-weight: 800;
    display: inline-block;
}

.T1 {
    color: rgb(88, 206, 239);
}
.T2 {
    color: rgb(226, 56, 226);
}
.T3 {
    color: rgb(0, 255, 89);
}
.T4 {
    color: rgb(62, 62, 62);
}
.T5 {
    color: rgb(255, 64, 0);
}

.Warrior-Box {
    background-color: rgb(88, 206, 239);
}
.Warrior-Box:hover {
    border: 3px solid rgb(88, 206, 239);
}

.Mage-Box {
    background-color: rgb(226, 56, 226);
}
.Mage-Box:hover {
    border: 3px solid rgb(226, 56, 226);
}

.Archer-Box {
    background-color: rgb(0, 255, 89);
}
.Archer-Box:hover {
    border: 3px solid rgb(0, 255, 89);
}

.Asassin-Box {
    background-color: rgb(62, 62, 62);
}
.Asassin-Box:hover {
    border: 3px solid rgb(62,62,62);
}

.Berserker-Box {
    background-color: rgb(255, 64, 0);
}
.Berserker-Box:hover {
    border: 3px solid rgb(255,64,0);
}

.Warrior-Box:hover,
.Archer-Box:hover,
.Asassin-Box:hover,
.Berserker-Box:hover,
.Mage-Box:hover {
    background-color: rgba(255,255,255,0);
    width: 183px;
    height: 213px;
}

.Name,
.STR,
.AGI,
.DEF,
.VIT,
.WIS,
.Advance {
    color: white;
    font-family: arial;
    font-weight: 700;
    font-size: larger;
    margin: 36px;
    display: block;
}
