body {
    background-color: black;
}

.box {
    display:inline-block;
    margin-left: 450px;
    margin-top: 220px;
}

.case {
    width: 500px;
    height: 260px;
    background-color: pink;
    border: 2px solid rgb(225, 137, 151);
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    display: inline-block;
}

.letter {
    text-align: center;
    width: 480px;
    height: 40px;
    border: 1px solid grey;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    margin-left: 11px;
    transition: height 1.5s;
    background-color: white;

}

.letter:hover {
    height: 155px;
}

.text {
    font-family:cambria;
    font-weight: bold;
}

.To,
.From {
    font-family: cambria;
    font-weight: bold;
    margin-left: 15px;
}

.From {
    margin-top: 185px;
}
